@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    // background: linear-gradient(to right, #F8C8DC,#E0B0FF);
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: "Figtree", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-weight: 400;
} 

// Headings
h1, h2, h3 {
    margin:0;
    font-weight: 400;
    letter-spacing: 0.5px;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: darken($primary-color, 5);
        // background: rgba(darken($primary-color, 5), 1.5);
    }
}

a {
    color: #4a4e53;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2; // how close an element is to you
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

#home, main {
    display: inline-block;
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px); // set min-height for sticky footer
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden; // no scroll bar on home page
        h1 {
            margin-top: 20vh;
        }
    }
}

.parent {
    // padding: 2rem 2rem;
}

.child {
    display: inline-block;
    // padding: 1rem 1rem;
    vertical-align: middle;
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3'
    ;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        width: 250px;
        height: 270px;
        border: $secondary-color 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: darken($primary-color, 3);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        margin-top: 30px;
    }

    p {
        font-size: 20px;
    }

    .job-paragraph {
        font-size: 18px;
    }

    h3 {
        font-size: 22px;
        font-weight: bolder;
        color: $secondary-color;
    }
}

// Work/Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        height: 100%;
        // border: 3px #4a4e53 solid;

        &:hover {
            // opacity: 0.5;
            // border-color: $secondary-color;
            // @include easeOut;
            /* on hover make expand */
            -webkit-transform: rotateZ(-2deg);
            -ms-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
            transition: 1s ease;
        }
    }

    h3 {
        font-weight: 700;
    }

    .project-div {
        height: 70%;
    }

    .item-one-div {
        background: linear-gradient(to right, rgb(252, 190, 74), #ffffc2);
    }

    .item-two-div {
        background: linear-gradient(to right, #fab8d4, #E0B0FF);
    }

    .item-three-div {
        background: linear-gradient(to right, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    }

    .item-four-div {
        background: linear-gradient(to right, #C1E1C1, #A7C7E7);
    }

    .item-five-div {
        background: linear-gradient(to right, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    }
}

// Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #4a4e53 solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;

        &:hover {
            padding: 0.5rem 1.5rem;
            
            background: $secondary-color;
            color: white;
            span {
                color: white;
            }
        }
    }
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: #fff;
        @include easeOut
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: darken($primary-color, 5);
    color: #4a4e53;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color); // color setting function
    height: 60px;
}

// SLIDING TEXT ANIMATION CSS: CITATION https://codepen.io/Zerchan/pen/aMjWQW
// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
  
.content{
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: verdana;
    font-size: 30px;
    height: 15vh;
    // text-transform: uppercase;
    color: #4a4e53;
    overflow: hidden;
// background-color: darkslateblue;
}
  
.slider{
    margin-left: 8px;
    height: 50px;
    overflow: hidden;
}
  
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 15px;
    text-align: center;
    height: 50px;
    margin-bottom: 50px;
}
  
.slide-anim{
    animation: slide 7s linear infinite;
}

.slide1 {
    background-color: #C1E1C1;
}

.slide2 {
    background-color: #c5e8f5;
}

.slide3 {
    background-color: rgb(243, 178, 178);
}

@keyframes slide {
0% { transform: translateY(-300px); }
5% { transform: translateY(-300px); }
33% { transform: translateY(-200px); }
38% { transform: translateY(-200px); }
66% { transform: translateY(-100px); }
71% { transform: translateY(-100px); }
100% { transform: translateY(0px); }
}

@import 'mobile'; // put media query at the bottom so that it runs after css