@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: "Figtree", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-weight: 400;
} 

// Headings
h1, h2, h3 {
    margin:0;
    font-weight: 400;
    letter-spacing: 0.5px;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(darken($primary-color, 2), 1.5);
    }
}

a {
    color: #4a4e53;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2; // how close an element is to you
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    display: inline-block;
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px); // set min-height for sticky footer
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden; // no scroll bar on home page
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3'
    ;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        width: 350px;
        height: 350px;
        border: $secondary-color 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: darken($primary-color, 3);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

// Work/Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        height: 80%;
        border: 3px #4a4e53 solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #4a4e53 solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        // margin-left: 1rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: white;
            span {
                color: white;
            }
        }
    }
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: #fff;
        @include easeOut
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: darken($primary-color, 5);
    color: #4a4e53;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color); // color setting function
    height: 60px;
}

@import 'mobile'; // put media query at the bottom so that it runs after css

// TYPING TEXT ANIMATION CSS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
//   font-family: 'Poppins', sans-serif;
}
// body{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh;
//   background: #343F4F;
// }
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #4a4e53;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}