@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    // background: linear-gradient(to right, #F8C8DC,#E0B0FF);
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: "Figtree", sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-weight: 400;
} 

// Headings
h1, h2, h3 {
    margin:0;
    font-weight: 400;
    letter-spacing: 0.5px;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: darken($primary-color, 5);
        // background: rgba(darken($primary-color, 5), 1.5);
    }
}

a {
    color: #4a4e53;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2; // how close an element is to you
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

#home, main {
    display: inline-block;
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px); // set min-height for sticky footer
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden; // no scroll bar on home page
        h1 {
            margin-top: 20vh;
        }
    }
}

.parent {
    // padding: 2rem 2rem;
}

.child {
    display: inline-block;
    // padding: 1rem 1rem;
    vertical-align: middle;
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3'
    ;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        width: 250px;
        height: 270px;
        border: $secondary-color 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: darken($primary-color, 3);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        margin-top: 30px;
    }

    p {
        font-size: 20px;
    }

    .job-paragraph {
        font-size: 18px;
    }

    h3 {
        font-size: 22px;
        font-weight: bolder;
        color: $secondary-color;
    }
}

// Work/Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        height: 100%;
        // border: 3px #4a4e53 solid;

        &:hover {
            // opacity: 0.5;
            // border-color: $secondary-color;
            // @include easeOut;
            /* on hover make expand */
            -webkit-transform: rotateZ(-2deg);
            -ms-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
            transition: 1s ease;
        }
    }

    h3 {
        font-weight: 700;
    }

    .project-div {
        height: 70%;
    }

    .item-one-div {
        background: linear-gradient(to right, rgb(252, 190, 74), #ffffc2);
    }

    .item-two-div {
        background: linear-gradient(to right, #fab8d4, #E0B0FF);
    }

    .item-three-div {
        background: linear-gradient(to right, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    }

    .item-four-div {
        background: linear-gradient(to right, #A7C7E7, #C1E1C1);
    }

    .item-five-div {
        background: linear-gradient(to right, rgb(27, 26, 26), rgb(149, 148, 148));
        // background: linear-gradient(to right, #fc9308, #f7cc95);
    }
}

// Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #4a4e53 solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;

        &:hover {
            padding: 0.5rem 1.5rem;
            
            background: $secondary-color;
            color: white;
            span {
                color: white;
            }
        }
    }
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: #fff;
        @include easeOut
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: darken($primary-color, 5);
    color: #4a4e53;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color); // color setting function
    height: 60px;
}

// SLIDING TEXT ANIMATION CSS: CITATION https://codepen.io/Zerchan/pen/aMjWQW
// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
  
.content{
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: verdana;
    font-size: 30px;
    height: 15vh;
    // text-transform: uppercase;
    color: #4a4e53;
    overflow: hidden;
// background-color: darkslateblue;
}
  
.slider{
    margin-left: 8px;
    height: 50px;
    overflow: hidden;
}
  
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 15px;
    text-align: center;
    height: 50px;
    margin-bottom: 50px;
}
  
.slide-anim{
    animation: slide 7s linear infinite;
}

.slide1 {
    background-color: #C1E1C1;
}

.slide2 {
    background-color: #c5e8f5;
}

.slide3 {
    background-color: rgb(243, 178, 178);
}

@keyframes slide {
0% { transform: translateY(-300px); }
5% { transform: translateY(-300px); }
33% { transform: translateY(-200px); }
38% { transform: translateY(-200px); }
66% { transform: translateY(-100px); }
71% { transform: translateY(-100px); }
100% { transform: translateY(0px); }
}

// TIMELINE CSS: https://www.w3schools.com/howto/howto_css_timeline.asp
  
* {
    box-sizing: border-box;
  }

  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #4a4e53;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid $secondary-color;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #4a4e53;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #4a4e53;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #4a4e53;
    border-width: 10px 10px 10px 0;
    border-color: transparent #4a4e53 transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .timeline-content {
    padding: 20px 30px;
    background-color: #4a4e53;
    position: relative;
    border-radius: 6px;
    color:white;
  }

// SKILLS CSS
.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-icon {
    &:hover {
        opacity:0.5;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        @include easeOut;
    }
}

.project-img {
    &:hover {
        cursor: pointer;
    }
}

// MODAL CSS: https://www.w3schools.com/howto/howto_css_modals.asp
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 30px auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */

    .modal-img {
        max-width: 100%;
        max-height: 100%;
        // overflow-clip-margin: content-box;
        // overflow: clip;
    }

    h3 {
        font-weight: bolder;
        color: darken(#4a4e53, 20);
    }
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .detail-btn {
    background-color: $secondary-color; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Figtree", sans-serif;
    letter-spacing: 0.5px;

    &:hover {
        cursor: pointer;
    }
  }


@import 'mobile'; // put media query at the bottom so that it runs after css